<template name="home">

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header center-align">Message of the Day 😁</div>
      <div class="collapsible-body"><p>There was a small bug in the 'Finish Game' workflow that sometimes allowed games to be double counted for ratings. It's fixed now and all ratings have been recalculated from the history of rated games to ensure accuracy. Party on, dudes.</p></div>
    </li>
  </ul>
  <div class="row row-super-padded">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-new-game center-margin">{{#if hasActiveGame}}Continue Game{{else}}New Game{{/if}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-gamelog center-margin">Game Log</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-stats center-margin">My Stats</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-players center-margin">Players</a>
    </div>
  </div>
  <div class="row center">
    <p>Last Update: April 24, 2016</p>
  </div>
</template>