<template name="home">
  <div class="row row-super-padded">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-new-game center-margin">{{#if hasActiveGame}}Continue Game{{else}}New Game{{/if}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-gamelog center-margin">Game Log</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-stats center-margin">My Stats</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-players center-margin">Players</a>
    </div>
  </div>
  <div class="row center">
    <p>Last Update: March 13, 2016</p>
  </div>
</template>