<template name="deleteModal">
  <div id="modal2" class="modal">
    <div class="modal-content center">
      <h5>Abandon Game</h5>
      <p>Delete the current game. Careful! This cannot be undone.</p>
      <div class="row margin-bottom-none">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat btn-close-modal">CANCEL</a>
        <a class=" modal-action modal-close waves-effect waves-light red darken-1 btn btn-delete">DELETE GAME</a>
      </div>
    </div>
  </div>
</template>