<template name="newGame">
  <h4>Home</h4>
  <div id="p1-wrapper">
    {{> inputAutocomplete settings=settings id="player1" class="input-xlarge" placeholder="Guest"}}
  </div>
  <div id="p2-wrapper">
    {{> inputAutocomplete settings=settings id="player2" class="input-xlarge" placeholder="Guest"}}
  </div>
  <h4>Away</h4>
  <div id="p3-wrapper">
    {{> inputAutocomplete settings=settings id="player1" class="input-xlarge" placeholder="Guest"}}
  </div>
  <div id="p4-wrapper">
    {{> inputAutocomplete settings=settings id="player2" class="input-xlarge" placeholder="Guest"}}
  </div>
  <div class="row">
    <div class="col s12 m6">
      <a class="waves-effect waves-light btn btn-next">NEXT</a>
      <a class="waves-effect waves-teal btn-flat btn-back">BACK</a>
    </div>
  </div>
</template>

<template name="user">
  <option value="" data-icon="{{profile.picture}}" class="left circle">{{profile.name}}</option>
</template>

<template name="userPill">
  <li class="user-dropdown-item">
    <img src="{{profile.picture}}" class="left circle img user-dropdown-image">
    <span class="user-dropdown-name">{{profile.name}} {{checkMe}}</span>
  </li>
</template>

<template name="noUserPill">
</template>