<template name="finishModal">
  <div id="modal1" class="modal">
    <div class="modal-content center">
      <h5>Finish Game</h5>
      <p>Finalize your stats and score.</p>
      <div class="row">
        <div class="col s12 center">
          <h5>Home {{score.home}} - {{score.away}} Away</h5>
        </div>
      </div>
      <div class="row margin-bottom-none">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat btn-close-modal">CANCEL</a>
        <a class=" modal-action modal-close waves-effect waves-green btn btn-finish">FINISH GAME</a>
      </div>
    </div>
  </div>
</template>