<template name="home">
  {{#if currentUser }}
  <div class="row row-super-padded">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-new-game center-margin">{{#if hasActiveGame}}Continue Game{{else}}New Game{{/if}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-gamelog center-margin">Game Log</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-stats center-margin disabled">My Stats</a>
    </div>
  </div>
  <div class="row center">
    <p>v0.3.1</p>
    <p>Last Update: February 17, 2016</p>
  </div>
  {{else}}
  <div class="row">
    <div class="valign-wrapper login-wrapper center">
      <a class="waves-effect waves-light btn btn-login center-margin">Sign In with Facebook</a>
    </div>
  </div>
  {{/if}}
</template>