<template name="home">
  {{#if currentUser }}
  <div class="row row-super-padded">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-new-game center-margin">{{#if hasActiveGame}}Continue Game{{else}}New Game{{/if}}</a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-gamelog center-margin">View Game Log</a>
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="valign-wrapper login-wrapper center">
      <a class="waves-effect waves-light btn btn-login center-margin">Sign In with Facebook</a>
    </div>
  </div>
  {{/if}}
</template>