<template name="options">
  <h4>Logging</h4>
  <form action="#" class="record-type-form">
    <p>
      <input class="with-gap" name="group1" type="radio" id="score-only" recordType="hits" disabled/>
      <label for="score-only">Score Only</label>
    </p>
    <p>
      <input class="with-gap" name="group1" type="radio" id="hmg" recordType="all" checked/>
      <label for="hmg">Score plus Hits, Misses, and Glass for me</label>
    </p>
  </form>
  <div class="row row-padded">
    <div class="col s12 m6">
      <a class="waves-effect waves-light btn btn-next">NEXT</a>
      <a class="waves-effect waves-teal btn-flat btn-back">BACK</a>
    </div>
  </div>
</template>