<template name="record">
  <div class="row row-padded">
    <div class="col s12 right-align">
      <a class="waves-effect waves-light btn btn-record">
        <p class="record-label">HIT</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align">
      <a class="waves-effect waves-light btn btn-record">
        <p class="record-label">MISS</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 right-align">
      <a class="waves-effect waves-light btn btn-record">
        <p class="record-label">GLASS</p>
      </a>
    </div>
  </div>
  <div class="row row-padded">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn">UNDO</a>
    </div>
  </div>
</template>