<template name="record">
  <div class="row row-padded margin-bottom-none">
    <div class="col s4 center">
      <h2 class="margin-none">
        {{activeRecord.hits}}
      </h2>
      <p class="margin-top-none">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">{{activeRecord.rebuthits}}</span>
        {{else}}
        {{#if activeRecord.hitsRatio}}
        ({{activeRecord.hitsRatio}}%)
        {{else}}
        (0%)
        {{/if}}
        {{/if}}
      </p>
    </div>
    <div class="col s4 center">
      <h2 class="margin-none">
        {{activeRecord.misses}}    
      </h2>    
      <p class="margin-top-none">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">{{activeRecord.rebutmisses}}</span>
        {{else}}
        {{#if activeRecord.missesRatio}}
        ({{activeRecord.missesRatio}}%)
        {{else}}
        (0%)
        {{/if}}
        {{/if}}
      </p>
    </div>
    <div class="col s4 center">
      <h2 class="margin-none">
        {{activeRecord.glass}}
      </h2>
      <p class="margin-top-none">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">{{activeRecord.rebutglass}}</span>
        {{else}}
        {{#if activeRecord.glassRatio}}
        ({{activeRecord.glassRatio}}%)
        {{else}}
        (0%)
        {{/if}}
        {{/if}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s4 center">
      <a class="waves-effect waves-light btn btn-record btn-hit {{#if rebuttalMode}}deep-orange darken-2{{/if}}">
        <p class="record-label">HIT</p>
      </a>
    </div>
    <div class="col s4 center">
      <a class="waves-effect waves-light btn btn-record btn-miss {{#if rebuttalMode}}deep-orange darken-2{{/if}}">
        <p class="record-label">MISS</p>
      </a>
    </div>
    <div class="col s4 center">
      <a class="waves-effect waves-light btn btn-record btn-glass {{#if rebuttalMode}}deep-orange darken-2{{/if}}">
        <p class="record-label">GLASS</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <a class="waves-effect waves-light btn btn-rebuttal {{#if rebuttalMode}}{{else}}deep-orange darken-2{{/if}}">
        {{#if rebuttalMode}}
        CANCEL
        {{else}}
        REBUTTAL
        {{/if}}
      </a>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s12 center">
      <h2 class="margin-none">{{gameData.home}} - {{gameData.away}}</h2>
    </div>
  </div>
  <div class="row center margin-bottom-none">
    <div class="col s5">
      <h6>{{gameData.playerOneName}}</h6>
    </div>
    <div class="col s5 offset-s2">
      <h6>{{gameData.playerTwoName}}</h6>
    </div>
  </div>
  <div class="row center">
    <div class="col s2">
      <a class="waves-effect waves-light btn btn-tiny btn-minus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="0">-</a>
    </div>
    <div class="col s1 padding-none">
      <p class="tiny-score">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">({{gameData.playerOne.rebuthits}})</span>
        {{else}}{{gameData.playerOne.hits}}
        {{/if}}
      </p>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light btn btn-tiny btn-plus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="0">+</a>
    </div>
    <div class="col s2 offset-s2">
      <a class="waves-effect waves-light btn btn-tiny btn-minus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="2">-</a>
    </div>
    <div class="col s1 padding-none">
      <p class="tiny-score">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">({{gameData.playerThree.rebuthits}})</span>
        {{else}}{{gameData.playerThree.hits}}
        {{/if}}
      </p>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light btn btn-tiny btn-plus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="2">+</a>
    </div>
  </div>
  <div class="row center margin-bottom-none">
    <div class="col s5">
      <h6>{{gameData.playerTwoName}}</h6>
    </div>
    <div class="col s5 offset-s2">
      <h6>{{gameData.playerFourName}}</h6>
    </div>
  </div>
  <div class="row center">
    <div class="col s2">
      <a class="waves-effect waves-light btn btn-tiny btn-minus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="1">-</a>
    </div>
    <div class="col s1 padding-none">
      <p class="tiny-score">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">({{gameData.playerTwo.rebuthits}})</span>
        {{else}}{{gameData.playerTwo.hits}}
        {{/if}}
      </p>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light btn btn-tiny btn-plus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="1">+</a>
    </div>
    <div class="col s2 offset-s2">
      <a class="waves-effect waves-light btn btn-tiny btn-minus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="3">-</a>
    </div>
    <div class="col s1 padding-none">
      <p class="tiny-score">
        {{#if rebuttalMode}}
        <span class="deep-orange-text text-darken-2">({{gameData.playerFour.rebuthits}})</span>
        {{else}}{{gameData.playerFour.hits}}
        {{/if}}
      </p>
    </div>
    <div class="col s2">
      <a class="waves-effect waves-light btn btn-tiny btn-plus-score {{#if rebuttalMode}}deep-orange darken-2{{/if}}" roster="3">+</a>
    </div>
  </div>
  {{> finishModal}}
</template>

<template name="recordnav">
  <li><a class="modal-trigger modal-finish-trigger" href="#modal1">Finish Game</a></li>
  <li><a class="btn-subtract-hit">Undo {{#if rebuttalMode}}Rebuttal {{/if}}Hit</a></li>
  <li><a class="btn-subtract-miss">Undo {{#if rebuttalMode}}Rebuttal {{/if}}Miss</a></li>
  <li><a class="btn-subtract-glass">Undo {{#if rebuttalMode}}Rebuttal {{/if}}Glass</a></li>
</template>