<template name="stats">
  <div class="row row-padded margin-bottom-none">
    <div class="col s12">
      <div class="chip">
        <img src="{{profile.picture}}" alt="Profile Picture">
        {{profile.name}} ({{playerData.rank}})
      </div>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s12 center">
      <p class="margin-bottom-none"><u><strong>Games</strong></u></p>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s2 right-align">
      <p><strong>Wins:</strong></p>
      <p><strong>Losses:</strong></p>
    </div>
    <div class="col s4">
      <p>{{playerData.stats.wins}} ({{playerData.stats.winratio}}%)</p>
      <p>{{playerData.stats.losses}} ({{playerData.stats.lossratio}}%)</p>
    </div>
    <div class="col s2 right-align">
      <p><strong>Ties:</strong></p>
      <p><strong>Games:</strong></p>
    </div>
    <div class="col s4">
      <p>{{playerData.stats.ties}} ({{playerData.stats.tieratio}}%)</p>
      <p>{{playerData.stats.games}}</p>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s6 center">
      <p class="margin-bottom-none"><u><strong>All Shooting</strong></u></p>
    </div>
    <div class="col s6 center">
      <p class="margin-bottom-none"><u><strong>Rebuttals</strong></u></p>
    </div>
  </div>
  <div class="row">
    <div class="col s2 right-align">
      <p><strong>Hits:</strong></p>
      <p><strong>Misses:</strong></p>
      <p><strong>Glass:</strong></p>
      <p><strong>CPG:</strong></p>
    </div>
    <div class="col s4">
      <p>{{playerData.stats.hits}} ({{playerData.stats.hitratio}}%)</p>
      <p>{{playerData.stats.misses}} ({{playerData.stats.missratio}}%)</p>
      <p>{{playerData.stats.glass}} ({{playerData.stats.glassratio}}%)</p>
      <p>{{playerData.stats.cpg}}</p>
    </div>
    <div class="col s2 right-align">
      <p><strong>Hits:</strong></p>
      <p><strong>Misses:</strong></p>
      <p><strong>Glass:</strong></p>
      <p><strong>RPG:</strong></p>
    </div>
    <div class="col s4">
      <p>{{playerData.stats.rebuthits}} ({{playerData.stats.rebuthitratio}}%)</p>
      <p>{{playerData.stats.rebutmisses}} ({{playerData.stats.rebutmissratio}}%)</p>
      <p>{{playerData.stats.rebutglass}} ({{playerData.stats.rebutglassratio}}%)</p>
      <p>{{playerData.stats.rpg}}</p>
    </div>
  </div>
  <div class="divider"></div>
  {{#each games}}
  <div class="row">
    <div class="col s12">
      {{>gameCard}}
    </div>
  </div>
  {{/each}}
</template>