<template name="stats">
  <div class="row row-padded margin-bottom-none">
    <div class="col s12">
      <div class="chip">
        <img src="{{profile.picture}}" alt="Profile Picture">
        {{profile.name}} {{rankname}}
      </div>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s12 center">
      <p class="margin-bottom-none"><u><strong>Games</strong></u></p>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s2 right-align">
      <p><strong>Wins:</strong></p>
      <p><strong>Losses:</strong></p>
    </div>
    <div class="col s4">
      <p>{{stats.wins}} ({{stats.winratio}}%)</p>
      <p>{{stats.losses}} ({{stats.lossratio}}%)</p>
    </div>
    <div class="col s2 right-align">
      <p><strong>Ties:</strong></p>
      <p><strong>Games:</strong></p>
    </div>
    <div class="col s4">
      <p>{{stats.ties}} ({{stats.tieratio}}%)</p>
      <p>{{stats.games}}</p>
    </div>
  </div>
  <div class="row margin-bottom-none">
    <div class="col s6 center">
      <p class="margin-bottom-none"><u><strong>All Shooting</strong></u></p>
    </div>
    <div class="col s6 center">
      <p class="margin-bottom-none"><u><strong>Rebuttals</strong></u></p>
    </div>
  </div>
  <div class="row">
    <div class="col s2 right-align">
      <p><strong>Hits:</strong></p>
      <p><strong>Misses:</strong></p>
      <p><strong>Glass:</strong></p>
      <p><strong>CPG:</strong></p>
    </div>
    <div class="col s4">
      <p>{{stats.hits}} ({{stats.hitratio}}%)</p>
      <p>{{stats.misses}} ({{stats.missratio}}%)</p>
      <p>{{stats.glass}} ({{stats.glassratio}}%)</p>
      <p>{{stats.cpg}}</p>
    </div>
    <div class="col s2 right-align">
      <p><strong>Hits:</strong></p>
      <p><strong>Misses:</strong></p>
      <p><strong>Glass:</strong></p>
      <p><strong>RPG:</strong></p>
    </div>
    <div class="col s4">
      <p>{{stats.rebuthits}} ({{stats.rebuthitratio}}%)</p>
      <p>{{stats.rebutmisses}} ({{stats.rebutmissratio}}%)</p>
      <p>{{stats.rebutglass}} ({{stats.rebutglassratio}}%)</p>
      <p>{{stats.rpg}}</p>
    </div>
  </div>
  <div class="divider"></div>
  {{#each games}}
  <div class="row">
    <div class="col s12">
      {{>gameCard}}
    </div>
  </div>
  {{/each}}
</template>