<template name="stats">
  {{#if Template.subscriptionsReady}}
  <div class="row row-padded margin-bottom-none">
    <div class="col s12">
      <div class="card">
        <div class="card-content white center-align">
          <div class="chip">
            <img src="{{profile.picture}}" alt="Profile Picture">
            {{profile.name}} ({{profile.rank}})
          </div>
          <table class="striped table-stats row-padded">
            <tbody>
              <tr>
                <td>Rating</td>
                <td>{{profile.rating}}</td>
              </tr>
              <tr>
                <td>Win %</td>
                <td>{{stats.winratio}}%</td>
              </tr>
              <tr>
                <td>Wins</td>
                <td>{{stats.wins}}</td>
              </tr>
              <tr>
                <td>Losses</td>
                <td>{{stats.losses}}</td>
              </tr>
              <tr>
                <td>Ties</td>
                <td>{{stats.ties}}</td>
              </tr>
              <tr>
                <td>Games Played</td>
                <td>{{stats.games}}</td>
              </tr>
              <tr>
                <td>Rated Games</td>
                <td>{{stats.ratedGames}}</td>
              </tr>
              <tr>
                <td>All-Time Hits</td>
                <td>{{stats.allhits}}</td>
              </tr>
              <tr>
                <td>All-Time Rebuttals</td>
                <td>{{stats.allrebuttals}}</td>
              </tr>
              <tr>
                <td><strong>Recorded Stats</strong></td>
                <td></td>
              </tr>
              <tr>
                <td>Hits</td>
                <td>{{stats.hits}} ({{stats.hitratio}}%)</td>
              </tr>
              <tr>
                <td>Misses</td>
                <td>{{stats.misses}} ({{stats.missratio}}%)</td>
              </tr>
              <tr>
                <td>Glass</td>
                <td>{{stats.glass}} ({{stats.glassratio}}%)</td>
              </tr>
              <tr>
                <td>Rebuttal Hits</td>
                <td>{{stats.rebuthits}} ({{stats.rebuthitratio}}%)</td>
              </tr>
              <tr>
                <td>Rebuttal Misses</td>
                <td>{{stats.rebutmisses}} ({{stats.rebutmissratio}}%)</td>
              </tr>
              <tr>
                <td>Rebuttal Glass</td>
                <td>{{stats.rebutglass}} ({{stats.rebutglassratio}}%)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  {{#each games}}
  {{>gameCard}}
  {{/each}}
  {{> deleteModal}}
  {{/if}}
</template>