<template name="gameLog">
  {{#each games}}
  {{>gameCard}}
  {{/each}}
</template>

<template name="gameCard">
  <div class="row">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text center">
          <span class="card-title">{{score.home}} - {{score.away}}</span>
          <h6>Home</h6>
          <ul class="collapsible teal-text text-lighten-1" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <div class="col s7 right-align">
                  {{playerData.player1.name}}
                </div>
                <div class="col s5 left-align">
                  {{playerData.player1.hits}}
                </div>
              </div>
              <div class="collapsible-body">
                {{#if playerData.player1.robust}}
                <table class="centered">
                  <thead>
                    <tr>
                      <th data-field="id">Hit</th>
                      <th data-field="name">Miss</th>
                      <th data-field="price">Glass</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{playerData.player1.hits}}</td>
                      <td>{{playerData.player1.misses}}</td>
                      <td>{{playerData.player1.glass}}</td>
                    </tr>
                    <tr>
                      <td>{{playerData.player1.hitRatio}}%</td>
                      <td>{{playerData.player1.missRatio}}%</td>
                      <td>{{playerData.player1.glassRatio}}%</td>
                    </tr>
                  </tbody>
                </table>
                {{else}}
                <p>No Data</p>
                {{/if}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <div class="col s7 right-align">
                  {{playerData.player2.name}}
                </div>
                <div class="col s5 left-align">
                  {{playerData.player2.hits}}
                </div>
              </div>
              <div class="collapsible-body">
                {{#if playerData.player2.robust}}
                <table class="centered">
                  <thead>
                    <tr>
                      <th data-field="id">Hit</th>
                      <th data-field="name">Miss</th>
                      <th data-field="price">Glass</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{playerData.player2.hits}}</td>
                      <td>{{playerData.player2.misses}}</td>
                      <td>{{playerData.player2.glass}}</td>
                    </tr>
                    <tr>
                      <td>{{playerData.player2.hitRatio}}%</td>
                      <td>{{playerData.player2.missRatio}}%</td>
                      <td>{{playerData.player2.glassRatio}}%</td>
                    </tr>
                  </tbody>
                </table>
                {{else}}
                <p>No Data</p>
                {{/if}}
              </div>
            </li>
          </ul>
          <h6>Away</h6>
          <ul class="collapsible teal-text text-lighten-1" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">
                <div class="col s7 right-align">
                  {{playerData.player3.name}}
                </div>
                <div class="col s5 left-align">
                  {{playerData.player3.hits}}
                </div>
              </div>
              <div class="collapsible-body">
                {{#if playerData.player3.robust}}
                <table class="centered">
                  <thead>
                    <tr>
                      <th data-field="id">Hit</th>
                      <th data-field="name">Miss</th>
                      <th data-field="price">Glass</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{playerData.player3.hits}}</td>
                      <td>{{playerData.player3.misses}}</td>
                      <td>{{playerData.player3.glass}}</td>
                    </tr>
                    <tr>
                      <td>{{playerData.player3.hitRatio}}%</td>
                      <td>{{playerData.player3.missRatio}}%</td>
                      <td>{{playerData.player3.glassRatio}}%</td>
                    </tr>
                  </tbody>
                </table>
                {{else}}
                <p>No Data</p>
                {{/if}}
              </div>
            </li>
            <li>
              <div class="collapsible-header">
                <div class="col s7 right-align">
                  {{playerData.player4.name}}
                </div>
                <div class="col s5 left-align">
                  {{playerData.player4.hits}}
                </div>
              </div>
              <div class="collapsible-body">
                {{#if playerData.player4.robust}}
                <table class="centered">
                  <thead>
                    <tr>
                      <th data-field="id">Hit</th>
                      <th data-field="name">Miss</th>
                      <th data-field="price">Glass</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{playerData.player4.hits}}</td>
                      <td>{{playerData.player4.misses}}</td>
                      <td>{{playerData.player4.glass}}</td>
                    </tr>
                    <tr>
                      <td>{{playerData.player4.hitRatio}}%</td>
                      <td>{{playerData.player4.missRatio}}%</td>
                      <td>{{playerData.player4.glassRatio}}%</td>
                    </tr>
                  </tbody>
                </table>
                {{else}}
                <p>No Data</p>
                {{/if}}
              </div>
            </li>
          </ul>
          {{#if superUser}}
          <button class="waves-effect waves-light btn red darken-1 btn-edit">Edit</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
